
{% extends 'main/layout.html' %}

{% block title %}Article{% endblock %}


{% block content %}
    <div class="detail_card" style="background-image: url('{{article.photo.url}}');">
<!--        <p class="detail_title">{{article.title}}</p>-->
    </div>

    <div class="div_title_detail"><p>{{article.title}}</p></div>

    <div class="article_info">
            <p>
                <span><i class="fa-regular fa-calendar"></i>&nbsp;Опубликовано </span>
                <span>{{article.time_create|date}}</span>
            </p>
            <p>
                <span><i class="fa-regular fa-calendar"></i>&nbsp;Обновлено</span>
                <span>{{article.time_update|date}}</span>
            </p>
            <p>
                <span><i class="fa-regular fa-comment"></i>&nbsp;Комментариев </span>
                <span>{{article.comments.all.count}}</span>
            </p>
            <p>
                <span><i class="fa-regular fa-heart"></i>&nbsp;Лайков</span>
                <span>{{article.likes_amount}}</span>
            </p>
    </div>

    <div class="article_content">
        {{article.content | safe}}
    </div>

    <div class="comments_container">
        <div class="comments_label">
            <p>комментарии <span>{{article.comments.all.count}}</span></p>
        </div>
    {% if not article.comments.all %}
    <div class="no_comments">
        <p>Еще нет комментариев</p>
    </div>

    {% else %}

        {% for comment in  article.comments.all %}
        <div class="comment">
            <p class="user_time_info">
                <span>{{comment.user}}</span>
                <span>{{comment.time_create|date}}</span>
            </p>
            <p class="comment_content">{{comment.content}}</p>
        </div>
        {% endfor %}
    </div>

    {% endif %}

    <div class="comment_form_conrainer">
        <div class="comment_form">
            <form class="form_comments" method="POST" action="/article/{{category}}/{{id}}">
                {% csrf_token %}
                <div class="comment_window">
                    {{form.content}}
                    <p class="place_holder"><span>Оставить&nbsp;</span> <span>комментарий</span></p>
                </div>
                <input class="confirm confirm_comment" type="submit" value="Опубликовать">
            </form>
        </div>
    </div>

    <div class="login_button">
        <a href="{% url 'login' category=category id=id %}">Войти, чтобы оставить комментарий</a>
    </div>

<!--<i class="fa-regular fa-comment"></i> comment-->
<!--<i class="fa-regular fa-thumbs-up"></i>-->
<!--<i class="fa-regular fa-heart"></i> like-->

{% endblock %}