{% extends 'main/layout.html' %}

{% block title %}Article{% endblock %}


{% block content %}

    <div class="update_profile_form_container">
        <i class="fa-solid fa-fingerprint user_logo"></i>
        <form class="change_password_form" method="POST" action="{% url 'change_password' %}">
            {% csrf_token %}
            <p class="register_label">Изменить пароль&nbsp;&nbsp; <button type="button" class="pencil_button"><i class="fa-solid fa-pencil pencil"></i></button></p>

            <div class="form">
                <div class="input old_password">
                    <div class="field">{{form.old_password}}</div>
                    <i class="fa-solid fa-eye-slash eye-icon_1"></i>
                </div>

                <div class="input new_password1">
                    <div class="field">{{form.new_password1}}</div>
                    <i class="fa-solid fa-eye-slash eye-icon_2"></i>
                </div>

                <div class="input new_password2">
                    <div class="field">{{form.new_password2}}</div>
                    <i class="fa-solid fa-eye-slash eye-icon_3"></i>
                </div>

<!--                <div class="input password">-->
<!--                    <div class="field" style="font-size: 0.75rem">{{password}}</div>-->
<!--                </div>-->


                <input class="confirm_button" type="submit" value="Изменить">



        </form>

        <div class="password_change_message">
            {% for message in messages %}
            <p style="font-size: clamp(1rem, 0.8078rem + 0.6275vw, 1.2rem); color: red;" class="error_password_message"><i class="fa-solid fa-ban"></i>&nbsp;&nbsp;{{message}}</p>
            {% endfor %}
        </div>

    </div>



<script>

const Icon1 = document.querySelector('.eye-icon_1'),
        Field1 = document.querySelector('.password_field_1');

Icon1.addEventListener('click', () => {
    if(Field1.type === "password") {
        Field1.type = "text";
        Icon1.classList.replace("fa-eye-slash", "fa-eye")}
    else{
        Field1.type = "password";
        Icon1.classList.replace("fa-eye", "fa-eye-slash")
    }
})

const Icon2 = document.querySelector('.eye-icon_2'),
        Field2 = document.querySelector('.password_field_2');

Icon2.addEventListener('click', () => {
    if(Field2.type === "password") {
        Field2.type = "text";
        Icon2.classList.replace("fa-eye-slash", "fa-eye")}
    else{
        Field2.type = "password";
        Icon2.classList.replace("fa-eye", "fa-eye-slash")
    }
})

const Icon3 = document.querySelector('.eye-icon_3'),
        Field3 = document.querySelector('.password_field_3');

Icon3.addEventListener('click', () => {
    if(Field3.type === "password") {
        Field3.type = "text";
        Icon3.classList.replace("fa-eye-slash", "fa-eye")}
    else{
        Field3.type = "password";
        Icon3.classList.replace("fa-eye", "fa-eye-slash")
    }
})
</script>

{% endblock %}