{% extends 'main/layout.html' %}

{% block title %}Article{% endblock %}


{% block content %}

    <div class="update_profile_form_container">
        <i class="fa-solid fa-fingerprint user_logo"></i>
        <form class="change_password_form" method="POST" action="{% url 'change_password' %}">
            {% csrf_token %}
            <p class="register_label">Изменить пароль&nbsp;&nbsp; <button type="button" class="pencil_button"><i class="fa-solid fa-pencil pencil"></i></button></p>

            <div class="form">
                <div class="input old_password">
                    <div class="field">{{form.old_password}}</div>
                </div>

                <div class="input new_password1">
                    <div class="field">{{form.new_password1}}</div>
                </div>

                <div class="input new_password2">
                    <div class="field">{{form.new_password2}}</div>
                </div>

<!--                <div class="input password">-->
<!--                    <div class="field" style="font-size: 0.75rem">{{password}}</div>-->
<!--                </div>-->


                <input class="confirm_button" type="submit" value="Изменить">



        </form>

    </div>



<!--        {% csrf_token %}-->
<!--        {{form.as_p }}-->
<!--        <button class="change_password_button" type="submit" >Изменить</button>-->

<!--    </form>-->
<!--    {% for message in messages %}-->
<!--        <p style="color: #fc0013;">{{ message }}&nbsp;&nbsp;&nbsp;</p>-->
<!--    {% endfor %}-->


<!--{{user}}-->

{% endblock %}