{% extends 'main/layout.html' %}

{% block title %}Article{% endblock %}


{% block content %}
<div class="form_wrapper">
    <form class="site_form site_form_login" action="{% url 'login' %}" method="post">
        {% csrf_token %}
        <p class="register_label">Вход</p>

        <div class="form">
            <div class="input name">
                <div class="field">
                    <i class="fa-solid fa-circle-user"></i>
                    <input type="text" name="username" placeholder="Имя пользователя">
                </div>
            </div>
            <div class="input password1">
                <div class="field">
                    <i class="fa-solid fa-lock"></i>
                    <input type="password" class="password_field" name="password" placeholder="Пароль">
                    <i class="fa-solid fa-eye-slash eye_icon"></i>
                </div>
            </div>

           <input class="confirm" type="submit" value="Войти">

            {% for message in messages %}
                <p class="error_message"><i class="fa-solid fa-ban"></i>&nbsp;&nbsp;{{message}}</p>
            {% endfor %}

            <div class="to_login">
                <p>Не зарегестрированы?&nbsp;<a href="{% url 'sign_up' %}?next={{ next }}">Регистрация</a></p>
            </div>

            <a class="forgot_password" href="{% url 'password_reset' %}">Забыли пароль?</a>

         </div>
</div>

<script>
    const FormContainer = document.querySelector('.form_wrapper'),
            EyeIcon = document.querySelectorAll('.eye_icon'),
            PasswordField = document.querySelectorAll('.password_field');

    console.log(FormContainer, EyeIcon, PasswordField);
        EyeIcon.forEach(icon =>{
            console.log('icon_eye'),
            icon.addEventListener("click", () => {
                PasswordField.forEach(field => {
                    if(field.type === "password"){
                         field.type = "text";
                        EyeIcon.forEach(icon =>{
                            icon.classList.replace("fa-eye-slash", "fa-eye");
                        })

                    }else{
                        field.type = "password";
                        EyeIcon.forEach(icon =>{
                            icon.classList.replace("fa-eye", "fa-eye-slash");
                        })

                    }
                })
            })
        })
</script>



{% endblock %}

