{% extends 'main/layout.html' %}

{% block title %}Article{% endblock %}


{% block content %}

    {% if validlink %}


    <div class="update_profile_form_container reset_password">
        <i class="fa-solid fa-fingerprint user_logo"></i>
        <form method="POST">
            {% csrf_token %}
            <h3 class="password_reset_label">Введите новый пароль</h3>
            {{form.as_p}}
            <i class="fa-solid fa-eye-slash eye-icon_1"></i>
            <i class="fa-solid fa-eye-slash eye-icon_2"></i>
            <button type="submit">Подтвердить</button>

        </form>

    {% else %}
    <div class="password_reset_done">
        <h3>Ссылка для смены пароля некорректна, возможно, она уже была использована. Запросите смену пароля повторно.</h3>
    </div>

    {% endif %}


<script>
    var input_new_password_1 = document.getElementById ("id_new_password1");
    input_new_password_1.placeholder = "Новый пароль";

    var input_new_password_2 = document.getElementById ("id_new_password2");
    input_new_password_2.placeholder = "Повторите пароль";


    const EyeIcon1 = document.querySelector('.eye-icon_1'),
    PasswordField1 = document.getElementById('id_new_password1');

    EyeIcon1.addEventListener('click', () => {
        if(PasswordField1.type === "password") {
            PasswordField1.type = "text";
            EyeIcon1.classList.replace("fa-eye-slash", "fa-eye")}
        else{
            PasswordField1.type = "password";
            EyeIcon1.classList.replace("fa-eye", "fa-eye-slash")
        }
    })

    const EyeIcon2 = document.querySelector('.eye-icon_2'),
    PasswordField2 = document.getElementById('id_new_password2');

    EyeIcon2.addEventListener('click', () => {
        if(PasswordField2.type === "password") {
            PasswordField2.type = "text";
            EyeIcon2.classList.replace("fa-eye-slash", "fa-eye")}
        else{
            PasswordField2.type = "password";
            EyeIcon2.classList.replace("fa-eye", "fa-eye-slash")
        }
    });


    let errors = document.querySelectorAll('.errorlist li');
    console.log('содержание ошибки', errors);
    let errorList = document.querySelector('.errorlist');
    console.log(errorList);

    //for (var i = 0; i < errors.length; ++i) {
    //    console.log('ok')
    //}

    for (const li of errors) {
        if (li.textContent === 'The two password fields didn’t match.') {
            console.log(li.textContent);
            li.textContent = 'Пароли не совпадают';
        }

        if (li.textContent === 'The password is too similar to the username.') {
            console.log(li.textContent);
            li.textContent = 'Пароль слишком похож на логин';
        }

        if (li.textContent === 'This password is too short. It must contain at least 8 characters.') {
            console.log(li.textContent);
            li.textContent = 'Слишком короткий пароль (меньше 8 символов).';
        }

        if (li.textContent === 'This password is too common.') {
            console.log(li.textContent);
            li.textContent = 'Слишком простой пароль';
        }

        if (li.textContent === 'The password is too similar to the email address.') {
            console.log(li.textContent);
            li.textContent = 'Пароль похож на почту';
        }
    };



</script>

{% endblock %}