{% extends 'main/layout.html' %}

{% block title %}Article{% endblock %}


{% block content %}

{% if validlink %}
<h3 style="margin-top: 15vh;">Смена пароля</h3>

<div class="update_profile_form_container reset_password">
    <i class="fa-solid fa-fingerprint user_logo"></i>
    <form method="POST">
        {% csrf_token %}
        {{form.as_p}}
        <button type="submit">Подтвердить</button>

    </form>

{% else %}
<p>Ссылка для смены пароля некорректна, возможно, она уже была использована. Запросите смену пароля повторно.</p>

{% endif %}

{% endblock %}