{% extends 'main/layout.html' %}

{% block title %}Article{% endblock %}


{% block content %}
<div class="form_wrapper">
    <form class="site_form" action="/account/signup/" method="post">
        {% csrf_token %}
        <p class="register_label">Регистрация</p>

        <div class="form">
            <div class="input name">
                <div class="field"><i class="fa-solid fa-circle-user"></i>{{form.username}}</div>
            </div>

            <div class="input email">
                <div class="field"><i class="fa-solid fa-envelope"></i>{{form.email}}</div>
            </div>

            <div class="input password1">
                <div class="field"><i class="fa-solid fa-lock"></i>{{form.password1}}</div>
            </div>

            <div class="input password2">
                <div class="field"><i class="fa-solid fa-lock"></i>{{form.password2}}</div>
            </div>

            <input class="confirm" type="submit" value="Зарегистрироваться">
<!--            {{form.errors}}-->

            {% for message in messages %}
                <p class="error_message">{{message}}</p>
            {% endfor %}

            <div class="to_login">
                <p>Уже зарегистрированы?&nbsp;<a href="{% url 'login' %}">Войти</a></p>
            </div>

         </div>
</div>



{% endblock %}
