{% extends 'main/layout.html' %}

{% block title %}Article{% endblock %}


{% block content %}
<div class="form_wrapper">
    <form class="site_form" action="{% url 'sign_up' %}"  method="post">
        {% csrf_token %}
        <p class="register_label">Регистрация</p>

        <div class="form">
            <div class="input name">
                <div class="field"><i class="fa-solid fa-circle-user"></i>{{form.username}}</div>
            </div>

            <div class="input email">
                <div class="field"><i class="fa-solid fa-envelope"></i>{{form.email}}</div>
            </div>

            <div class="input password1">
                <div class="field">
                    <i class="fa-solid fa-lock"></i>
                    {{form.password1}}
                    <i class="fa-solid fa-eye-slash eye_icon"></i>
                </div>
            </div>

            <div class="input password2">
                <div class="field">
                    <i class="fa-solid fa-lock"></i>
                    {{form.password2}}
                    <i class="fa-solid fa-eye-slash eye_icon"></i>
                </div>
            </div>

            <input class="confirm" type="submit" value="Зарегистрироваться">
<!--            {{form.errors}}-->

            {% for message in messages %}
                <p class="error_message">{{message}}</p>
            {% endfor %}

            <div class="to_login">
                <p>Уже зарегистрированы?&nbsp;<a href="{% url 'login' %}?next={{ next }}">Войти</a></p>
            </div>

         </div>
</div>

<script>
    const FormContainer = document.querySelector('.form_wrapper'),
            EyeIcon = document.querySelectorAll('.eye_icon'),
            PasswordField = document.querySelectorAll('.password_field');

    console.log(FormContainer, EyeIcon, PasswordField);
        EyeIcon.forEach(icon =>{
            console.log('icon_eye'),
            icon.addEventListener("click", () => {
                PasswordField.forEach(field => {
                    if(field.type === "password"){
                         field.type = "text";
                        EyeIcon.forEach(icon =>{
                            icon.classList.replace("fa-eye-slash", "fa-eye");
                        })

                    }else{
                        field.type = "password";
                        EyeIcon.forEach(icon =>{
                            icon.classList.replace("fa-eye", "fa-eye-slash");
                        })

                    }
                })
            })
        })
</script>


{% endblock %}
