{% extends 'main/layout.html' %}

{% block title %}Article{% endblock %}


{% block content %}

    <div class="update_profile_form_container">
        <i class="fa-regular fa-circle-user user_logo"></i>
        <form class="update_profile_form" method="POST" action="{% url 'profile' %}">
            {% csrf_token %}
            <p class="register_label">Пользователь&nbsp;&nbsp; <button type="button" class="pencil_button"><i class="fa-solid fa-pencil pencil"></i></button></p>

            <div class="form">
                <div class="input name">
                    <div class="field">{{form.username}}</div>
                </div>

                <div class="input email">
                    <div class="field">{{form.email}}</div>
                </div>

<!--                <div class="input password">-->
<!--                    <div class="field" style="font-size: 0.75rem">{{password}}</div>-->
<!--                </div>-->


                <input class="confirm_button" type="submit" value="Сохранить">

        </form>
            </div>

    </div>

    <div class="user_activity_container">
        <div class="user_activity_contents">
            <div class="icon_and_title">
                <i class="fa-solid fa-clock-rotate-left history_icon"></i>
                <p>Понравившиеся статьи</p>
            </div>
            <div class="liked_articles">
                {% if likes %}
                <ul>
                    {% for like in likes %}
                        <li>
                            <a href="{% url 'article_detail' category=like.category  id=like.id %}">{{like.title}}</a>
                             <p><i class="fa-regular fa-comment"></i>&nbsp;&nbsp;{{like.comments.count}}</p>
                        </li>
                    {% endfor %}
                </ul>
                {% else %}
                <p class="no_liked_posts">Список понравившихся статей пока пуст</p>
                {% endif %}
            </div>
        </div>
    </div>


<!--<a href="{% url 'change_password' %}?next={{ request.path }}">Поменять пароль</a>-->

{% endblock %}