{% extends 'main/layout.html' %}

{% block title %}Home{% endblock %}


{% block content %}

    <div class="credit_articles_list">

         <ul>
             {% for post in articles %}
                        <li>
                            <a href="{% url 'article_detail' category=post.category id=post.id %}">
                                <div class="post">
                                    <div class="image" style="background-image: url('{{post.photo.url}}');"></div>
                                    <div class="all_info">
                                        <p class="title">{{post.title}}</p>
                                        <p class="time time_create"><i class="fa-regular fa-calendar"></i>&nbsp;&nbsp;{{post.time_create}}</p>
                                        <p class="time time_update">Обновлено&nbsp;&nbsp;{{post.time_update}}</p>
                                        <p class="contents">{{post.content | truncatechars:220 | safe}}</p>
                                    </div>
                                </div>
                            </a>
                        </li>
             {% endfor %}

         </ul>


    </div>


{% endblock %}