{% extends 'main/layout.html' %}

{% block title %}Home{% endblock %}


{% block content %}

    <div class="best_articles">
        <div class="best_article">
            <p class="art_title">Как снять деньги с кредитной карты без последствий. Свежий обзор</p>

        </div>

        <div class="best_article">
            <p class="art_title">Выгодный накопительный счёт и карта: свежий обзор</p>
        </div>
        <div class="best_article">
            <p class="art_title">Как снять деньги с кредитной карты без последствий. Свежий обзор</p>

        </div>

        <div class="best_article">
            <p class="art_title">Выгодный накопительный счёт и карта: свежий обзор</p>
        </div>



    </div>

{% endblock %}