{% extends 'main/layout.html' %}

{% block title %}Home{% endblock %}


{% block content %}

    <div class="best_articles">
        <div class="best_article best_article_1">
            <h3 class="art_title">
                <p class="relevant">Свежее</p>
                <p class="text">Как снять деньги с кредитной карты без последствий</p>
                <p class="short_content"><br/><br/><br/>Многие задаются вопросом, как снять деньги с кредитной карты
                    без процентов и с сохранением льготного периода. Если делать это напрямую, то обычно
                    за такие операции предусмотрена заградительная комиссия и сразу начинают начисляться
                    грабительские проценты.</p>
            </h3>

        </div>

        <div class="best_article best_article_2">
            <h3 class="art_title">
                <p class="relevant">Рекомендуем</p>
                <p class="text">Как снять деньги с кредитной карты без последствий</p>
                <p class="short_content"><br/><br/><br/>Многие задаются вопросом, как снять деньги с кредитной карты
                    без процентов и с сохранением льготного периода. Если делать это напрямую, то обычно
                    за такие операции предусмотрена заградительная комиссия и сразу начинают начисляться
                    грабительские проценты.</p>
            </h3>
        </div>



    </div>


    <div class="recommendations">

        <div class="list_articles">

            <i class="fa-solid fa-circle-chevron-left arrow" id="arrow_backward"></i>
            <ul class="rec_list">

                {% for post in articles %}

                <li class="article_rec">
                    <div class="article" style="background-image: url('{{post.photo.url}}');">
                        <p class="name_article" >{{post.title}}</p>
                    </div>
                </li>
                {% endfor %}

            </ul>
            <i class="fa-solid fa-circle-chevron-right arrow"  id="arrow_forward"></i>

        </div>

    </div>

    <div class="info">
        <h2>
            <span>SOME INFO ABOUT US</span>
        </h2>

        <p>
            <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                sed do eiusmod tempor incididunt ut labore et dolore magna
                aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
                aute irure dolor in reprehenderit in voluptate velit esse
                cillum dolore eu fugiat nulla pariatur.
                Ut enim ad minim veniam, quis nostrud exercitation
                ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
                aute irure dolor in reprehenderit in voluptate velit esse
                cillum dolore eu fugiat nulla pariatur.</span>
        </p>
    </div>

    <div class="container">
        <div class="scroll_text">
            <ul>
                <li>
                    <p>Credit cards</p>
                </li>
                <li>
                    <p>Credit cards</p>
                </li>
            </ul>

            <ul aria-hidden="true">
                <li>
                    <p>Credit cards</p>
                </li>
                <li>
                    <p>Credit cards</p>
                </li>
                <li>
                    <p>Credit cards</p>
                </li>
                <li>
                    <p>Credit cards</p>
                </li>
       </div>
    </div>

    <div class="credit">
        <ul>
            <li class="credit_stat">
                <p>На нашем сайте больше 100 статей про кредитные карты и кредиты</p>
            </li>
            {% for post in articles %}
            <li class="credit_article" style="background-image: url('{{post.photo.url}}');">
                <div>
                    <p>{{post.title}}</p>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>

    <div class="shit">
        <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                sed do eiusmod tempor incididunt ut labore et dolore magna
                aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
                aute irure dolor in reprehenderit in voluptate velit esse
                cillum dolore eu fugiat nulla pariatur.Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                sed do eiusmod tempor incididunt ut labore et dolore magna
                aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
                aute irure dolor in reprehenderit in voluptate velit esse
                cillum dolore eu fugiat nulla pariatur.Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                sed do eiusmod tempor incididunt ut labore et dolore magna
                aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
                aute irure dolor in reprehenderit in voluptate velit esse
                cillum dolore eu fugiat nulla pariatur.Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                sed do eiusmod tempor incididunt ut labore et dolore magna
                aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
                aute irure dolor in reprehenderit in voluptate velit esse
                cillum dolore eu fugiat nulla pariatur.Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                sed do eiusmod tempor incididunt ut labore et dolore magna
                aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
                aute irure dolor in reprehenderit in voluptate velit esse
                cillum dolore eu fugiat nulla pariatur.Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                sed do eiusmod tempor incididunt ut labore et dolore magna
                aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
                aute irure dolor in reprehenderit in voluptate velit esse
                cillum dolore eu fugiat nulla pariatur.Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                sed do eiusmod tempor incididunt ut labore et dolore magna
                aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
                aute irure dolor in reprehenderit in voluptate velit esse
                cillum dolore eu fugiat nulla pariatur.</span>
    </div>

{% endblock %}