{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta name="description",
          content="Checkout site with some titles" />
    <title>{% block title %}{% endblock %}</title>

    <link rel="stylesheet" href="{% static 'main/css/main.css' %}">
    <link rel="icon" type="image/png" href="{% static 'main/img/small_logo_2.png' %}">


    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.5.1/css/all.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Manrope:wght@200..800&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

</head>
<body>
    <header class="header" id="header">
        <nav class="nav_container">
            <a href="{% url 'home' %}" class="nav_logo">Money<p>Makers</p></a>

            <div class="nav_menu" id="nav-menu">
                <ul class="nav_list">
                    <li class="nav_item">
                        <a href="{% url 'home' %}" class="nav_link">
                             <i class="fa-solid fa-house nav_icon"></i>
                            <span class="nav_name">Главная</span>
                        </a>
                    </li>

                    <li class="nav_item">
                        <a href="{% url 'debit' %}" class="nav_link">
                            <i class="fa-solid fa-credit-card nav_icon"></i>
                            <span class="nav_name">Кэшбэк</span>
                        </a>
                    </li>

                    <li class="nav_item">
                        <a href="{% url 'credit' %}" class="nav_link">
                            <i class="fa-solid fa-hand-holding-dollar nav_icon"></i>
                            <span class="nav_name">Кредитки</span>
                        </a>
                    </li>

                    <li class="nav_item">
                        <a href="{% url 'savings' %}" class="nav_link">
                            <i class="fa-solid fa-piggy-bank nav_icon"></i>
<!--                            <i class="fa-solid fa-vault nav_icon"></i>-->
                            <span class="nav_name">Копилка</span>
                        </a>
                    </li>

                    <li class="nav_item">
<!--                        <a href="FAQ" class="nav_link">-->
<!--                            <i class="fa-solid fa-gift nav_icon"></i>-->
<!--                            <span class="nav_name">Промо</span>-->
                            <div class="dropdown-content">
                                <div class="profile">
<!--                                    <i class="fa-regular fa-circle-user" ></i>-->
<!--                                    <i class="fa-solid fa-circle-user profile_icon"></i>-->
<!--                                    <i class="fa-regular fa-user profile_icon"></i>-->
                                    <i class="fa-solid fa-user profile_icon"></i>
                                </div>
                                <div class="links">
                                        <i class="fa-solid fa-user profile_icon_window"></i>
                                    {% if not user.is_authenticated %}
                                        <a href="{% url 'login' %}?next={{ request.path }}">Войти</a>
                                        <a href="{% url 'sign_up' %}?next={{ request.path }}">Зарегистрироваться</a>
                                    {% else %}
                                        <p class="username">{{request.user}}</p>
                                        <a href="{% url 'profile' %}?next={{ request.path }}">Профиль</a>
                                        <a href="{% url 'change_password' %}?next={{ request.path }}">Безопасность</a>
                                        <a href="{% url 'logout' %}?next={{ request.path }}">Выйти</a>
                                    {% endif %}
                                </div>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>


    <main>
<!--        {% if messages %}-->
<!--        <div class="messages">-->
<!--            {% for message in messages %}-->
<!--                <p>{{ message }}</p>-->
<!--            {% endfor %}-->
<!--        </div>-->
<!--        {% endif %}-->
        {% block content %}
        {% endblock %}
    </main>

    <div class="footerContainer">
        <div class="media">
            <p>Follow us:</p>
            <div class="links">
                <span class="icon icon1"><i class="fa-brands fa-telegram"></i></span>
                <span class="icon icon2"><i class="fa-solid fa-camera-retro"></i></span>
                <span class="icon icon3"><i class="fa-brands fa-vk"></i></span>
                <span class="icon icon4"><i class="fa-solid fa-envelope"></i></span>
            </div>

        </div>

        <div class="foot-bottom">
            <p>&copy; 2024 developed by Roma lbj, designed by&nbsp;<a href="https://www.instagram.com/2benumber1" class="lexa_inst">@2benumber1</a></p>
        </div>
    </div>

</body>

<script src="{% static 'main/js/script.js' %}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

<script>


setTimeout(fade_out, 1200);
function fade_out() {
    $(".messages").fadeOut(50, "linear").empty();
};


let profile_icon = document.querySelector('.profile');
let links =  document.querySelector('.dropdown-content .links');
profile_icon.addEventListener('click', () => {
    if (links.className.includes('links_active')) {
        links.classList.remove("links_active")
    }
    else {
        links.classList.add("links_active") }
//    console.log('good')
});

let pencil = document.querySelector('.update_profile_form_container .pencil');
let inputFields = document.querySelectorAll('.update_profile_form_container .field input');
//let password = document.querySelectorAll('.update_profile_form_container .password');
let change_profile_button = document.querySelector('.update_profile_form_container .confirm_button');
//password.style.color = 'black'
pencil.addEventListener('click', () => {

    if (pencil.className.includes('active')) {
        pencil.classList.remove("active")
//        change_profile_button.style.display = 'none'
        change_profile_button.style.opacity = '0'
        change_profile_button.style.transform = 'translateY(-20px)'
        inputFields.forEach (field => {
            field.style.pointerEvents = 'none';
            field.classList.remove("active");

    });
    }
    else {
        pencil.classList.add("active")
//        change_profile_button.style.display = 'block'
        change_profile_button.style.opacity = '1'
        change_profile_button.style.transform = 'translateY(0)'
        inputFields.forEach (field => {
            field.classList.add("active");
            field.style.pointerEvents = 'auto';
    });

    };

});

    $( document ).ready(function() {

        $('.like-form').submit(function(e) {
            e.preventDefault()

            const post_id = $(this).attr('id')

            const url = $(this).attr('action')

            let res;
            const likes = $(`.likes-amount`).text()
            const trimcount = parseInt(likes)

            const like_status = $(`.like_status`).text()

            const heartIcon = document.querySelector(".heart-icon");


            $.ajax({
                type: 'POST',
                url: url,
                data: {
                    'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val(),
                    'post_id': post_id,
                },
                success: function(response){
                    console.log('success', response)


                    if(like_status === 'True') {
                        $(`.like_status`).text('False')
                        res = trimcount - 1
                        heartIcon.classList.remove("liked")
                    } else {
                        $(`.like_status`).text('True')
                        res = trimcount + 1
                        heartIcon.classList.add("liked")
                    }
                    $(`.likes-amount`).text(res)
                },
                error: function(response){
                    console.log('error', response)
                },

            });

        });
    });


</script>


</html>