{% extends 'main/layout.html' %}

{% block title %}searched{% endblock %}


{% block content %}
    <div class="search_form_container">
        <form class="search_form" action="{% url 'searched_for' %}" method="POST">
            {% csrf_token %}

            <input class="search_input" type="search" placeholder="Искать" name="searched">
            <button class="search_button" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
        </form>
    </div>


    {% if searched %}
    <div class="searched_for">
        <p>Результаты по запросу: <span>{{ searched }}</span> </p>
    </div>

    <div class="credit_articles_list">

         <ul>
             {% for post in articles %}
                        <li>
                            <a href="{% url 'article_detail' category=post.category  id=post.id %}">
                                <div class="post">
                                    <div class="image" style="background-image: url('{{post.photo.url}}');"></div>
                                    <div class="all_info">
                                        <p class="title">{{post.title}}</p>
                                        <p class="time time_create"><i class="fa-regular fa-calendar"></i>&nbsp;&nbsp;{{post.time_create|date}}</p>
                                        <p class="time time_update">Обновлено&nbsp;&nbsp;{{post.time_update|date}}</p>
                                        <p class="contents">{{post.content | truncatechars:220 | safe}}</p>
                                    </div>
                                </div>
                            </a>
                        </li>
             {% endfor %}

         </ul>


    </div>


<!--    {{post_ids}}-->
    {% endif %}



{% endblock %}