:root {
    --header-height: 3rem;
    --hue: 174;
    --sat: 63%;

    --first-color: hsl(var(--hue), vat(--sat), 40%);
    --first-color-alt: hsl(var(--hue), vat(--sat), 36%);
    --title-color: hsl(var(--hue), 12%, 15%);
    --text-color: hsl(var(--hue), 8%, 35%);
    --body-color: hsl(var(--hue), 100%, 99%);
    --container-color: #fff;

    --body-font: "Work Sans", sans-serif;
    --h1-font-size: 1.5rem;
    --normal-font-size: 1.1rem;
    --tiny-font-size: .625rem;

    --z-tooltip: 10;
    --z-fixed: 100;
}

@media screen and (min-width: 968px) {
    :root {
        --h1-font-size: 2.25rem;
        --normal-font-size: 1.1rem;
    }
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--text-color);
}

ul {
    list-style: none;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    height: 7vh;
    width: 100vw;
    z-index: var(--z-fixed);
    transition: .4s;
}

.nav_logo {
    text-decoration: none;
    color: black;
    font-size: var(--normal-font-size);
    margin: 0;
    padding: 0;
    height: 7vh;
    display: flex;
    align-items: center;
}


.container {
    max-width: 968px;
    padding: 0;
    height: 7vh;
    margin-left: 1rem;
    margin-right: 1rem;

}


.nav {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_logo {
    color: var()--title-color;
    font-weight: 600;
}

.nav_list, .nav_link {
     transition: .2s;
     display: flex;
}

.nav_icon {
    font-size: 1.5rem;
}



@media screen and (max-width: 767px) {
    .nav_menu {
        position: fixed;
        bottom: 0;
        left: 0;
        background-color: var(--container-color);
        box-shadow: 0 -1px 12px hsla(var(--hue), var(--sat), 15%, 0.15);
        width: 100%;
        height: 4rem;
        padding: 0 1rem;
        display: grid;
        align-content: center;
        border-radius: 1.25rem 1.25rem 0 0;

    }
}



.nav_link {
    flex-direction: column;
    align-items: center;
    row-gap: .25rem;
    color: var(--title-color);
    font-weight: 600;
    text-decoration: none;
}

.nav_list  {
    justify-content: space-around;
    display: flex;
    align-items: center;
    height: 100%;
    margin: 0;
    padding: 0;
}

.nav_link {
    font-size: var(--normal-font-size);

}



.active {
    position: relative;
    color: red;
    transition: .3s;

}

/*scroll header animation */
.scroll-header {
    box-shadow: 0 1px 12px hsla(var(--hue), var(--sat), 15%, 0.15);
}

/* for small devices */
@media screen and (max-width: 320px) {
    .nav_name {
        display: none;
    }

    .nav_icon {
    font-size: 1.5rem;
}
}

/* for medium devices */
@media screen and (min-width: 576px) {
    .nav_list {
        justify-content: center;
        column-gap: 3rem;
    }

    .nav_icon {
    font-size: 1.5rem;
}
}

@media screen and (min-width: 767px) {

    .nav {
        height: calc(var(--header-height) + 1.5rem);
    }

    .nav_name {
        font-size: var(--normal-font-size);
        display: block;
    }

    .nav_icon {
        font-size: 0;
        display: none;
        color: transparent;  /* fix later */
        text-decoration: none;
    }

    .nav_list:hover .nav_link {
        opacity: .3;
        filter: blur(.4px);
        transition: .2s;
    }

    .nav_list .nav_link:hover {
        opacity: 1;
        filter: blur(0);
        transition: .2s;
    }


}





/* for large devices */
@media screen and (min-width: 1024px) {

    .container {
        margin-left: auto;
        margin-right: auto;
        height: 7vh;
    }

}


.test {
    padding-top: 200px;
}