:root {
    --header-height: 3rem;
    --hue: 174;
    --sat: 63%;

    --first-color: hsl(var(--hue), var(--sat), 40%);
    --first-color-alt: hsl(var(--hue), var(--sat), 36%);
    --title-color: hsl(var(--hue), 12%, 15%);
    --text-color: hsl(var(--hue), 8%, 35%);
    --body-color: hsl(var(--hue), 100%, 99%);
    --container-color: #fff;

    --body-font: "Work Sans", sans-serif;
    --h1-font-size: 1.5rem;
    --normal-font-size: 1rem;
    --tiny-font-size: .625rem;

    --z-tooltip: 10;
    --z-fixed: 100;


    --shadow-color-darker:  rgba(128, 128, 128, 0.1);
    --shadow-color-medium: rgba(128, 128, 128, 0.05);
    --shadow-color: rgba(128, 128, 128, 0.02);
    --blur-radius: 0px;

}

@media screen and (min-width: 968px) {
    :root {
        --h1-font-size: 2.25rem;
        --normal-font-size: 1.1rem;
    }
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}



body {
    margin: 0;
    padding: 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--text-color);
    overflow-x: hidden;
}

main {
    min-height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
/*    overflow-y: scroll;*/
/*    overflow-x: hidden;*/
    z-index: 1;
}


ul {
    list-style: none;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    padding: 0;
    margin: 0;
    height: 10vh;
    min-width: 100vw;
    z-index: var(--z-fixed);
    transition: .4s;
    background-color: white;
/*    background-color: transparent;
    backdrop-filter: blur(200px);*/
    display: flex;
    align-items: center;
}


nav {
    min-width: 100vw;
    height: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_logo {
    text-decoration: none;
    color: black;
    font-size: 2rem;
    padding: 0;
    margin: 0;
    padding-left: 5vw;
    height: 100%;
    display: flex;
    align-items: center;
    font-weight: 600;
}

.nav_logo p {
    color: #ff007d;
    font-size: 1.2rem;
}



.nav_menu {
    height: 100%;
    padding-right: 6vw;
    padding-left: 3vw;
}


.nav_list, .nav_link {
     transition: .2s;
     display: flex;
}

.nav_icon {
    font-size: 1.5rem;
}

.nav_item {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

.nav_link {
    flex-direction: column;
    align-items: center;
    row-gap: .25rem;
    color: var(--title-color);
    font-weight: 600;
    text-decoration: none;
    font-size: var(--normal-font-size);
    opacity: .3;
    filter: blur(.4px);

}

.nav_list  {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    margin: 0;
    padding: 0;
}


.active {
    color: #ff007d;
    opacity: 1;
    transition: .3s;

}


.best_articles {
    max-height: auto;
    min-height: 80vh;
    margin-top: 5vh;
    width: 90vw;
    display: grid;
    position: relative;
    top: 6vh;
    gap: 5%;
    grid-template-columns: repeat(auto-fit, minmax(370px, 1fr));
}


.best_article {
    padding: 2%;
    margin: 0;
    display: flex;
    align-items: end;
    flex-direction: column-reverse;
    max-width: 100%;
    min-height: 70vh;
    text-align: left;
    border-radius: 30px;
    position: relative;

}

.best_article_1 {
    background-image: url(../img/article_8.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.best_article_2 {
    background-image: url(../img/article_12.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}



.best_article h3 {
    margin: 0;
    margin-top: 1vh;
    padding-right: 0;
    padding-top: 7%;
    padding-bottom: 7%;
    font-size: 1.5rem;
    min-width: 50%;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(17px);
    border-radius: 30px;
    transition: .4s;
    display: flex;
    flex-direction: column-reverse;
    position: relative;
}



.relevant {
    font-size: 2.8rem;

    position: absolute;
    min-width: 100%;
    top: 5%;
    text-align: center;
    font-weight: 800;
    color: rgba(0, 0, 0, 0.7);

    text-shadow:
      1px 1px var(--blur-radius) var(--shadow-color-darker),
      2px 2px var(--blur-radius) var(--shadow-color-darker),
      4px 3px var(--blur-radius) var(--shadow-color-darker),
      6px 4px var(--blur-radius) var(--shadow-color-darker),
      8px 5px var(--blur-radius) var(--shadow-color-darker),
      10px 6px var(--blur-radius) var(--shadow-color-darker),
      12px 7px var(--blur-radius) var(--shadow-color-darker),
      14px 8px var(--blur-radius) var(--shadow-color-darker),
      16px 9px var(--blur-radius) var(--shadow-color-darker),
      18px 10px var(--blur-radius) var(--shadow-color-darker),
      20px 11px var(--blur-radius) var(--shadow-color-medium),
      22px 12px var(--blur-radius) var(--shadow-color-medium),
      24px 13px var(--blur-radius) var(--shadow-color-medium),
      26px 14px var(--blur-radius) var(--shadow-color-medium),
      28px 15px var(--blur-radius) var(--shadow-color-medium),
      30px 16px var(--blur-radius) var(--shadow-color-medium),
      32px 17px var(--blur-radius) var(--shadow-color-medium),
      34px 18px var(--blur-radius) var(--shadow-color-medium),
      36px 19px var(--blur-radius) var(--shadow-color),
      38px 20px var(--blur-radius) var(--shadow-color),
      40px 21px var(--blur-radius) var(--shadow-color),
      42px 22px var(--blur-radius) var(--shadow-color),
      44px 23px 10px var(--shadow-color),
      46px 24px 10px var(--shadow-color),
      48px 25px 10px var(--shadow-color),
      50px 26px 10px var(--shadow-color),
      52px 27px 10px var(--shadow-color),
      54px 28px 10px var(--shadow-color),
      56px 29px 10px var(--shadow-color);
}

.text {
    transform: translateY(-85%);
    font-size: 1.7rem;
    transition: .65s;
    padding-left: 10%;
    padding-right: 8%;
}

.short_content {
 /*   display: none;  */
    opacity: 0;
    font-size: 1rem;
    transition: .65s;
    transform: translateY(90%);
    padding-left: 10%;
    padding-right: 10%;
}

.recommendations {
    background-color: #131313;
    margin: 0;
    padding: 0;
    margin-top: 15vh;
    padding-top: 5vh;
    padding-bottom: 3vh;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.list_articles {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 96vw;
    height: 100%;
    padding:  0;
    margin: 0;
}

.arrow {
    font-size: 1.8rem;
    cursor: pointer;
    color: #ff007d;
    padding: 0 0.7%;
    transition: .3s;
    opacity: 1;
}

#arrow_forward {
    padding: 0 1%;
}

.arrow:hover {
    transform: scale(1.1);
    opacity: 1;
}

.list_articles ul {
    display: grid;
    margin: 0;
    padding: 3%;
    grid-template-columns: repeat(auto-fit, 3);
    gap: 4.5%;
    grid-auto-flow: column;
    width: 100vw;
    overflow-x: scroll;
}

.list_articles ul::-webkit-scrollbar {
    display: none;
}

.list_articles ul li {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    position: relative;
    z-index: 1;
    border-radius: 20px;
}

.list_articles ul li a {
    width: 30vw;
    height: 17vw;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.7);
}

.article {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: end;
    justify-content: center;
    margin: 0;
    padding: 0 2%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    border-radius: 20px;
    transition: .3s;
}

.article:hover{
    transform: scale(1.1);
}

.article p {
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(17px);
    padding: 5%;
    margin: 2% 0;
}

.info {
    margin: 0;
    padding: 0 10% 6% 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #131313;
    width: 100vw;
}

.info h2, .info p {
    width: 60vw;
    text-align: center;
}

.info  span {
    color: rgba(255, 255, 255, 0.5);
    background-clip: text;
    background-repeat: no-repeat;
    background-size: 0% 100%;
    background-image: linear-gradient(90deg, white, white);
    animation: info linear forwards;
    animation-timeline: view();
}

@keyframes info {
    to {
        background-size: 100% 100%;
    }
}

.info h2  {
    font-size: 2.5rem;
}


.info p  {
    text-align: center;
    font-size: 1.5rem;
}

.info h2 span {
    animation-range-start: cover 10vh;
    animation-range-end: cover 50vh;
}

.info p span {
    animation-range-start: cover 42.5vh;
    animation-range-end: cover 75vh;
}


.container {
    padding: 0;
    margin: 0;
    min-width: 100vw;
    height: 20vh;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    overflow-x: hidden;
}


.scroll_text {
    min-width: 100vw;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    flex-direction: row;
    gap: 6rem;
    white-space: nowrap;
    animation: scroll_text 50s infinite linear;
}

.scroll_text ul {
    display: flex;
    align-items: center;
    gap: 6rem;
    padding: 0;
    margin: 0;
}

/*.scroll_text ul:first-child{
    background-color: red;
}
.scroll_text ul:last-child{
    background-color: greenyellow;
}*/

.scroll_text p {
    font-size: 6rem;
    color: rgba(0,0,0, 0.15);
    padding: 0;
    letter-spacing: 2px;
    margin: 0;
}

@keyframes scroll_text {
    from {
        transform: translateX(0%);
    }
    to {
     transform: translateX(calc(-100% - 8rem));
    }
}


.credit {
    min-width: 100vw;
    padding: 0;
    padding-bottom: 5%;
    margin: 0;
    min-height: 70vh;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    /*background-color: rebeccapurple;*/
}

.credit ul {
    padding: 0 2% 1% 2%;
    margin: 0;
    height: auto;
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    column-gap: 1vw;
    row-gap: 3vw;
    /*background-color: greenyellow;*/

}

.credit ul li {
    padding: 0 2% 2% 2%;
    margin: 0;
    height: 28vh;
    width: 48vh;
    justify-self: center;
    display: flex;
    align-items: end;
    justify-content: center;
    /*background-image: url('../img/best_article_1.jpg');*/
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    border-radius: 20px;
    transition: .3s;
}
.credit ul li a {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: end;
    justify-content: center;
    transition: .3s;
}

.credit ul li:hover {
    transform: scale(1.1);
}
.credit ul li:first-child:hover {
    transform: none;
}

.credit .credit_stat {
    padding: 0;
}

.credit p {
    margin: 0;
    padding: 3% 7% 5% 7%;
    font-size: 1.1rem;
    text-align: left;
    min-width: 50%;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(17px);
    border-radius: 20px;
    transition: .4s;
    display: flex;
    flex-direction: column-reverse;
    position: relative;
}

.black {
    background-color: #131313;
}

.scroll_text_black p {
    color: rgba(255, 255, 255, 0.15);
}

.credit_black p {
    background-color: rgba(0, 0, 0, 0.15);
    color: rgba(255, 255, 255, 0.8);
}


.counters {
    width: 100vw;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.counters div {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
    background-color: #fcd8e2;
    box-shadow: inset 0px 0px 0px 2px #ff007d;
    transition: .3s;
}

.counters_black div {
    background-color: #380614;
}

/*.counters_black:hover div {
    background-color: #fcd8e2;
}*/

.counter {
    height: 100%;
    margin: 0;
    padding: 0;
}

.counter h3 {
    font-weight: 200;
}

.counter span {
    font-weight: 800;
    font-size: 4rem;
    color: transparent;
    background-clip: text;
    background-repeat: no-repeat;
    background-image: linear-gradient(180deg, #ff007d, #ff007d);
    background-size: 100%;
}

.credit_black h3 {
    color: #ff007d;
}

.button_container {
    width: 100vw;
    padding: 5% 0 1% 0;
    display: flex;
    align-items: center;
    justify-content: center;
    /*background-color: #2b6be2;*/
    height: 12vh;
    margin: 0;
}

.more_button {
    text-decoration: none;
    background-color: #ff007d;
    color: white;
    height: 80%;
    display: flex;
    padding: 2% 2% 2% 4.5%;
    margin: 0;
    align-items: center;
    justify-content: center;
    font-size: 1.3rem;
    border-radius: 40px;
    transition: .3s;
}

.more_button i {
    opacity: 0;
    transition: opacity .2s, .4s;
    transform: rotate(90deg);
    color: white;
}

.more_button:hover i {
    opacity: 1;
    transform: rotate(0deg);
    color: #ff007d;
}

.more_button:hover {
    padding-right: 4%;
    background-color: #fcd8e2;
    color: #ff007d;
    /*border: 2px solid #ff007d;*/
    box-shadow: inset 0px 0px 0px 2px #ff007d;
}


.more_button_black:hover {
    background-color: #380614;
}


.footerContainer {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: auto;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    background-color: #131313;
}

.media {
    margin: 0;
    padding: 5vh 10vh 3vh 5vh;
/*    background-color: #e8e2e2;*/
    display: felx;
    align-items: center;
    justify-content: center;
}

.media p {
    font-size: 1.4rem;
    color: #ff007d;
    width: fit-content;
    margin: 0;
    padding: 0;
/*    background-color: greenyellow;*/
}

.links {
    margin: 0;
    padding: 2vh 0 0 0;
/*    background-color: blueviolet;*/
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    font-size: 1.7rem;
    gap: 1.5rem;
}

.links span {
    transition: .3s;
}

.links span:hover {
    color: #ff007d;
}


.foot-bottom {
    margin: 0;
    height: auto;
    padding: 0 0 0 5vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
/*    background-color: #97b961;*/
}

.foot-bottom p, .foot-bottom a {
/*    background-color: red;*/
    margin: 0;
    padding: 0;
    color: white;
    font-size: 1rem;
    height: 100%;
    text-decoration: none;
}

.foot-bottom a {
    color: #ff007d;
    transition: .2s;
}

.foot-bottom a:hover {
    color: white;
}


.credit_articles_list {
    margin: 10vh 0 10vh 0;
    padding: 5vh 0 0 10vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    /*background-color: greenyellow;*/
    /*border-top: 4px solid #ff007d;*/
}

.credit_articles_list ul {
    margin: 0;
    padding: 0;
    width: 90%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /*background-color: red;*/
    flex-direction: column;
}

.credit_articles_list ul li {
    width: 100%;
    min-height: 35vh;
    margin: 0 0 2vh 0;
    padding: 2vh 0 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.credit_articles_list a {
    text-decoration: none;
    color: black;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.credit_articles_list ul li:last-child{
    margin: 0;
}

.credit_articles_list .post {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.credit_articles_list .image {
    min-width: 40%;
    min-height: 35vh;
    border-radius: 20px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.credit_articles_list .all_info {
    /*background-color: darkred;*/
    margin: 0 0 0 5vh;
    padding: 2vh 0 0 0;
    height: 100%;
    width: 55%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
    border-top: 1px solid #ff007d;
}

.credit_articles_list .title {
    font-size: 1.5rem;
    font-weight: 550;
    line-height: 1.5rem;
    transition: .2s;
}

.credit_articles_list .time {
    line-height: 1.5rem;
    margin: 0;
    font-size: 1rem;
}

.credit_articles_list .time_create {
    margin-top: 3vh;
}

.credit_articles_list .time_update {
    margin-bottom: 3vh;
}

.credit_articles_list .contents {
    font-size: 1.1rem;
    font-weight: 300;
    line-height: 1.5rem;
}

.credit_articles_list i, .credit_articles_list .time_create {
    color: #ff007d;
}

.credit_articles_list .post:hover .title {
    color: #ff007d;
}


.detail_card {
    margin: 12vh 0 0 0;
    padding: 0;
    height: 65vh;
    width: 80vw;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    border-radius: 30px;
}

/*Текст на карточке*/
.detail_title {
    margin: 0 2% 5% 2%;
    padding: 3% 1.5%;
    font-size: 2.1rem;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(17px);
    border-radius: 30px;
}

.article_info {
    width: 80vw;
    height: 20%;
    margin: 0;
    font-size: 1rem;
    padding: 0 1%;
/*    background-color: #d72828;*/
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    line-height: 1.5rem;
    row-gap: 3vh;
    column-gap: 2vh;
/*    border-bottom: 2px solid #ff007d;*/
}

.article_info p {
/*    background-color: #ff007d;*/
    color: rgba(0, 0, 0, 0.4);
/*    backdrop-filter: blur(17px);*/
/*    border-radius: 30px;*/
    height: 100%;
    margin: 0;
    padding: 1% 1.5%;
    display: flex;
    align-items: center;
    flex-direction: column;
}


.article_content {
    width: 70vw;
    margin: 2vh 0 0 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
/*    background-color: greenyellow;*/
}

.article_content p {
/*    background-color: red;*/
    text-align: justify;
    font-size: 1.2rem;
    line-height: 1.8rem;
    width: 100%;
    margin: 1% 0;
/*    text-indent: 20px; красная строка*/
}

.article_content p:first-child {
    margin-top: 0;
}

.article_content h3 {
    font-size: 1.6rem;
    color: #ff007d;
}

.article_content ul {
    margin: 0;
    padding: 0;

}

.div_title_detail {
    margin: 2vh 0;
    padding: 0 0 2vh 0;
    width: 80vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid #ff007d;
}

.div_title_detail p {
    font-size: 2rem;
    text-align: center;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}


.form_wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
}


.site_form {
    background-color: rgba(255,255,255, 0.8);
    width: 470px;
    height: 520px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    margin: 0;
    padding: 0;
    border-radius: 20px;
    box-shadow: 10px 10px 15px #ff007d9e;
}

.register_label {
/*    background-color: red;*/
    margin: 5% 0 0 0;
    padding: 0;
    font-size: 1.8rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    color: #ff007d;
}

/*.register_label::before {*/
/*    content: '';*/
/*    position: absolute;*/
/*    left: 5%;*/
/*    bottom: 0;*/
/*    height: 3px;*/
/*    width: 40px;*/
/*    background-color: #ff007d;*/
/*    border-radius: 20px;*/
/*}*/

.form {
/*    background-color: greenyellow;*/
    width: 100%;
    height: 85%;
    margin: 0;
    padding: 3% 0 0 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}

.input {
/*    background-color: yellow;*/
    margin: 2vh 0;
    padding: 0;
    width: 85%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
/*    border-bottom: 2px solid rgba(0,0,0,0.55);*/
}


.field {
    height: 100%;
    width: 100%;
/*    background-color: blueviolet;*/
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
}

input {
    width: 85%;
    height: 6vh;
    border-color: transparent;
    border-bottom: 1px solid rgba(0,0,0, 0.3);
    background-color: transparent;
}

form input:focus {
    outline: none;
    border-bottom-color:  #ff007d;
/*    box-shadow: inset 0px 0px 2px 2px #ff007d;*/
}

.input i {
    margin: 0;
    padding: 0 5% 0 3%;
    height: 100%;
/*    background-color: #008071;*/
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    color: #ff007da6;
}

.eye_icon {
    position: absolute;
    right: 0;
    cursor: pointer;
}

.confirm {
    background-color: #ff007d;
    color: white;
    margin: 2vh 0;
    padding: 0;
    width: 90%;
    height: 6vh;
    border-radius: 10px;
    transition: .3s;
    border-bottom: transparent;
}

.confirm:hover {
    background-color: #fcd8e2;
    color: #ff007d;
    border: 2px solid #ff007d;
}

.to_login {
    width: 100%;
    margin: 2vh 0 0 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(0,0,0, 0.5)
}

.to_login p {
/*    background-color: khaki;*/
    width: 100;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.to_login a {
    width: 100;
    height: 100%;
    margin: 0;
    padding: 0;
    color: #ff007d;
    text-decoration: none;
}


.site_form_login{
    width: 420px;
    height: 350px;
}


.login_button {
    margin: 3vh 0 3vh 0;
}

.login_button a {
    text-decoration: none;
    text-align: center;
    background-color: #ff007d;
    color: white;
    height: 80%;
    display: flex;
    padding: 2%;
    margin: 0;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    border-radius: 20px;
    transition: .3s;
}
.login_button a:hover {
    background-color: #fcd8e2;
    color: #ff007d;
    box-shadow: inset 0px 0px 0px 2px #ff007d;
}

.error_message {
    width: 90%;
    padding: 0;
    margin: 0;
    color: red;
    text-align: center;
}


.comments_container {
    border-top: 1px solid #ff007d;
/*    background-color: #ffe19c;*/
    margin: 3vh 0;
    padding: 2vh 0;
    width: 70vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.comment {
    width: 100%;
    margin: 0 0 3vh 0;
    padding: 2vh;
    border: 1px solid rgba(0, 0, 0, 0.15);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 20px;
    transition: .3s;
}

.comment:hover {
    border-color: #ff007d;
}

.comment p {
/*    background-color: #6c8fff;*/
    width: 100%;
    text-align: left;
    padding: 0;
}

.comment span:first-child{
    color: #ff007d;
    transition: .2s;
}

.comment span:last-child{
    color: rgba(0, 0, 0, 0.3);
    transition: .2s;
}

.comment:hover span:last-child{
    font-weight: 600;
    letter-spacing: 0.1rem;
}

.comment:hover span:first-child{
    font-weight: 600;
    letter-spacing: 0.1rem;
}

.comment_content {
    font-size: 1.2rem;
}

.comments_label {
/*    background-color: red;*/
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70vw;
    margin: 0 0 2vh 0;
}

.comments_label p {
/*    background-color: blueviolet;*/
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    font-size: 2rem;
}

.comments_label p span {
    color: #ff007d;
    font-size: 1.65rem;
}

.no_comments {
/*    background-color: red;*/
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0 2vh 0;
    padding: 0;
}

.no_comments p {
/*    background-color: greenyellow;*/
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 1.2rem;
}

.comment_form_conrainer {
/*    background-color: red;*/
    width: 70vw;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.comment_form {
/*    background-color: #0077ff;*/
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form_comments {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.comment_window {
/*    background-color: red;*/
    position: relative;
    z-index: 100;
}

.place_holder {
    position: absolute;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
/*    background-color: greenyellow;*/
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    color: rgba(0,0,0, 0.15);
    z-index: -100;
    transition: .2s;
}

textarea {
    margin: 0;
    padding: 1vw 2vw;
    width: 70vw;
    border: 1px solid rgba(0,0,0, 0.15);
    border-radius: 10px;
    background-color: transparent;
}

textarea:focus {
    outline: none;
    border-color:  #ff007d;
}

textarea:focus ~ .place_holder {
    opacity: 0;
}

.comment_window span {
    transition: .3s;
}

.comment_window:hover span:first-child {
    opacity: 0;
    transform: translateX(-100px);
}

.comment_window:hover span:last-child {
    opacity: 0;
    transform: translateX(100px);
}

.confirm_comment {
    width: 30vw;
    margin-bottom: 10vh;
}


/* for medium devices */
@media screen and (min-width: 576px) {

    .nav_list {
        justify-content: center;
        column-gap: 3rem;
    }

    .nav_icon {
    font-size: 1.5rem;
    }

    .best_article {
        max-width: 50vw;
        max-height: 50vw;
        justify-self: center;
     }

}

@media screen and (max-width: 1116px) {

    .recommendations {
        margin-top: 5vh;
    }

    .credit ul li {
        min-height: 45vh;
        max-width: 50vh;
        width: 60vh;
    }

    .credit_articles_list .title {
    font-size: 1.3rem;
    line-height: 1.3rem;
    }

    .credit_articles_list .time {
        line-height: 1.5rem;
        font-size: 0.9rem;
    }


    .credit_articles_list .contents {
        font-size: 1rem;
        font-weight: 300;
        line-height: 1.3rem;
    }

    .article_info {
        font-size: 0.9rem;
    }
}

@media screen and (max-width: 767px) {

    .nav_menu {
        position: fixed;
        bottom: 0;
        left: 0;
        background-color: var(--container-color);
        box-shadow: 0 -1px 12px hsla(var(--hue), var(--sat), 15%, 0.15);
        width: 100%;
        height: 4rem;
        padding: 0 1rem;
        display: grid;
        align-content: center;
        border-radius: 1.25rem 1.25rem 0 0;
    }

     .nav_list {
        justify-content: space-around;
    }

    .nav_link {
        opacity: 1;
        color: black;
    }

    .nav_name {
        display: none;
    }

    .active {
        color: #ff007d;
        opacity: 1;
    }

    .nav_name {
        font-weight: 250;
    }

     .nav_logo {
        font-size: 1.7rem;
     }

    .nav_logo p {
        font-size: 1.2rem;
     }

     .short_content {
        display: none;
     }

     .relevant {
        font-size: 3rem;
     }

    .text {
        transform: translateY(0);
        padding-top: 10%;
        font-size: 1.5rem;
    }

    .scroll_text p {
        font-size: 4rem;
    }

    .container {
        align-items: center;
    }

    .footerContainer {
        padding-bottom: 4rem;
    }

    .site_form {
        width: 430px;
        height: 470px;
    }

    .site_form_login{
        width: 400px;
        height: 350px;
    }

}


@media screen and (max-width: 570px) {
        .info h2  {
        font-size: 2.2rem;
    }

    .info p  {
        text-align: center;
        font-size: 1.3rem;
    }

    .recommendations {
        margin-top: 0;
    }

    .site_form {
        width: 70vw;
        height: 420px;
    }

    .site_form_login{
        width: 350px;
        height: 300px;
    }

    input {
        height: 4vh;
    }

    .register_label {
        font-size: 1.5rem;
    }

    .input i {
        font-size: 1rem;
    }

    .confirm {
        height: 5vh;
    }



}

/* for small devices */
@media screen and (max-width: 400px) {
    .nav_name {
        display: none;
    }

    .nav_icon {
    font-size: 1.5rem;
    }

     .best_articles {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
     }

    .best_article {
        max-width: 30vw;
        min-height: 30vw;
        justify-self: center;
     }

     .relevant {
        font-size: 1.5rem;
     }

    .text {
        transform: translateY(0);
        padding-top: 10%;
        font-size: 1rem;
        }

    .short_content {
        display: none;
     }

     .nav_logo {
        font-size: 1.5rem;
     }

    .nav_logo p {
        font-size: 1rem;
     }

    .site_form {
        width: 280px;
        height: 330px;
    }

    .site_form_login{
        width: 270px;
        height: 250px;
    }

    input {
        height: 3vh;
    }

    .register_label {
        font-size: 1.5rem;
        margin-top: 2%;
    }

    .input i {
        font-size: 1rem;
    }

    .confirm {
        height: 5vh;
        margin-top: 1vh;
        font-size: 0.8rem;
    }

    .to_login {
        margin-top: 0;
        font-size: 0.8rem;
    }

}



@media screen and (min-width: 767px) {


    .nav_name {
        font-size: var(--normal-font-size);
        display: block;
    }

    .nav_icon {
        font-size: 0;
        display: none;
        color: transparent;  /* fix later */
        text-decoration: none;
    }

    .nav_list:hover .nav_link {
        opacity: .3;
        filter: blur(.4px);
        transition: .2s;
        color:  #131313;
    }

    .nav_list .nav_link:hover {
        opacity: 1;
        filter: blur(0);
        transition: .2s;
    }

    .art_title:hover .short_content {
        opacity: 1;
        height: auto;
        width: auto;
        transform: translateY(35%);
    }

    .art_title:hover .text {
        opacity: 0;
        transform: translateY(-232%);
    }


}

@media screen and (max-width: 836px) {

    .credit ul {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
        column-gap: 3vw;
        row-gap: 3vw;
    }

    .credit ul li {
        padding: 0 2% 2% 2%;
        margin: 0;
        height: 15vh;
        width: 40vh;
    }
}


@media screen and (max-width: 666px) {

    .credit ul {
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 3vw;
        padding-right: 0;
        padding-left: 0;
    }

    .credit ul li {
        min-height: 40vh;
        max-width: 65vh;
        width: 70vh;
    }

        .credit_articles_list {
        margin: 5vh 0 5vh 0;
        padding: 5vh 0 0 5vh;
    }

    .credit_articles_list .post {
        flex-direction: column;
    }

    .credit_articles_list .all_info {
        margin: 2vh 0;
    }

    .credit_articles_list .image {
        min-width: 75%;
        min-height: 30vh;
    }

    .credit_articles_list .all_info {
        width: 80%;
    }

    .credit_articles_list .time_create {
        margin-top: 1vh;
    }

    .credit_articles_list .time_update {
        margin-bottom: 2vh;
    }

    .credit_articles_list ul li {
        margin: 0 0 1vh 0;
    }
}

@media screen and (max-width: 490px) {
      .relevant {
        font-size: 2rem;
     }

        .credit ul {
            display: grid;
            grid-template-columns: 1fr;
            row-gap: 3vw;
            padding-right: 0;
            padding-left: 0;
    }

    .credit ul li {
        min-height: 30vh;
        max-width: 45vh;
    }

    .article_content p {
        word-spacing: 2px;
    }
}


@media screen and (max-width: 865px) {

    .best_articles {
        min-height: 100vh;
        margin-top: 8vh;
        padding-bottom: 150px;
     }

     .best_article {
        max-width: 90vw;
        min-height: 90vw;
        justify-self: center;
    }

    .list_articles ul {
        gap: 5%;
    }

    .list_articles ul li a{
        width: 55vw;
        height: 42vw;
    }
    .info h2, .info p {
        width: 80vw;
        text-align: center;
        /*font-size: 1rem;*/
    }


    .article_info {
        grid-template-columns: repeat(2, 1fr);
    }
}