:root {
    --header-height: 3rem;
    --hue: 174;
    --sat: 63%;

    --first-color: hsl(var(--hue), var(--sat), 40%);
    --first-color-alt: hsl(var(--hue), var(--sat), 36%);
    --title-color: hsl(var(--hue), 12%, 15%);
    --text-color: hsl(var(--hue), 8%, 35%);
    --body-color: hsl(var(--hue), 100%, 99%);
    --container-color: #fff;

    --body-font: "Work Sans", sans-serif;
    --h1-font-size: 1.5rem;
    --normal-font-size: 1.1rem;
    --tiny-font-size: .625rem;

    --z-tooltip: 10;
    --z-fixed: 100;


    --shadow-color-darker: rgba(128, 128, 128, 0.1);
    --shadow-color-medium: rgba(128, 128, 128, 0.05);
    --shadow-color: rgba(128, 128, 128, 0.02);
    --blur-radius: 0px;

}

@media screen and (min-width: 968px) {
    :root {
        --h1-font-size: 2.25rem;
        --normal-font-size: 1.1rem;
    }
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}



body {
    margin: 0;
    padding: 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--text-color);
    overflow-x: hidden;
}

main {
    min-height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
/*    overflow-y: scroll;*/
/*    overflow-x: hidden;*/
    z-index: 1;
}


ul {
    list-style: none;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    padding: 0;
    margin: 0;
    height: 10vh;
    min-width: 100vw;
    z-index: var(--z-fixed);
    transition: .4s;
    background-color: white;
/*    background-color: transparent;
    backdrop-filter: blur(200px);*/
    display: flex;
    align-items: center;
}


nav {
    min-width: 100vw;
    height: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_logo {
    text-decoration: none;
    color: black;
    font-size: 2rem;
    padding: 0;
    margin: 0;
    padding-left: 5vw;
    height: 100%;
    display: flex;
    align-items: center;
    font-weight: 600;
}

.nav_logo p {
    color: #ff007d;
    font-size: 1.2rem;
}



.nav_menu {
    height: 100%;
    padding-right: 6vw;
}


.nav_list, .nav_link {
     transition: .2s;
     display: flex;
}

.nav_icon {
    font-size: 1.5rem;
}



.nav_link {
    flex-direction: column;
    align-items: center;
    row-gap: .25rem;
    color: var(--title-color);
    font-weight: 600;
    text-decoration: none;
    font-size: var(--normal-font-size);

    opacity: .3;
    filter: blur(.4px);


}

.nav_list  {
    justify-content: space-around;
    display: flex;
    align-items: center;
    height: 100%;
    margin: 0;
    padding: 0;
}




.active {
    color: #ff007d;
    opacity: 1;
    transition: .3s;

}

/*scroll header animation */
.scroll-header {
    box-shadow: 0 1px 12px hsla(var(--hue), var(--sat), 15%, 0.15);
}




.best_articles {
    max-height: auto;
    min-height: 80vh;
    margin-top: 5vh;
    width: 90vw;
    display: grid;
    position: relative;
    top: 6vh;
    gap: 5%;
    grid-template-columns: repeat(auto-fit, minmax(370px, 1fr));
}


.best_article {
    padding: 2%;
    margin: 0;
    display: flex;
    align-items: end;
    flex-direction: column-reverse;
    max-width: 100%;
    min-height: 70vh;
    text-align: left;
    border-radius: 30px;
    position: relative;

}

.best_article_1 {
    background-image: url(../img/best_article_1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.best_article_2 {
    background-image: url(../img/best_article_2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}



.best_article h3 {
    margin: 0;
    margin-top: 1vh;
    padding-right: 0;
    padding-top: 7%;
    padding-bottom: 7%;
    font-size: 1.5rem;
    min-width: 50%;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(17px);
    border-radius: 30px;
    transition: .4s;
    display: flex;
    flex-direction: column-reverse;
    position: relative;
}



.relevant {
    font-size: 2.8rem;

    position: absolute;
    min-width: 100%;
    top: 5%;
    text-align: center;
    font-weight: 800;
    color: rgba(0, 0, 0, 0.7);

    text-shadow:
      1px 1px var(--blur-radius) var(--shadow-color-darker),
      2px 2px var(--blur-radius) var(--shadow-color-darker),
      4px 3px var(--blur-radius) var(--shadow-color-darker),
      6px 4px var(--blur-radius) var(--shadow-color-darker),
      8px 5px var(--blur-radius) var(--shadow-color-darker),
      10px 6px var(--blur-radius) var(--shadow-color-darker),
      12px 7px var(--blur-radius) var(--shadow-color-darker),
      14px 8px var(--blur-radius) var(--shadow-color-darker),
      16px 9px var(--blur-radius) var(--shadow-color-darker),
      18px 10px var(--blur-radius) var(--shadow-color-darker),
      20px 11px var(--blur-radius) var(--shadow-color-medium),
      22px 12px var(--blur-radius) var(--shadow-color-medium),
      24px 13px var(--blur-radius) var(--shadow-color-medium),
      26px 14px var(--blur-radius) var(--shadow-color-medium),
      28px 15px var(--blur-radius) var(--shadow-color-medium),
      30px 16px var(--blur-radius) var(--shadow-color-medium),
      32px 17px var(--blur-radius) var(--shadow-color-medium),
      34px 18px var(--blur-radius) var(--shadow-color-medium),
      36px 19px var(--blur-radius) var(--shadow-color),
      38px 20px var(--blur-radius) var(--shadow-color),
      40px 21px var(--blur-radius) var(--shadow-color),
      42px 22px var(--blur-radius) var(--shadow-color),
      44px 23px 10px var(--shadow-color),
      46px 24px 10px var(--shadow-color),
      48px 25px 10px var(--shadow-color),
      50px 26px 10px var(--shadow-color),
      52px 27px 10px var(--shadow-color),
      54px 28px 10px var(--shadow-color),
      56px 29px 10px var(--shadow-color);
}

.text {
    transform: translateY(-85%);
    font-size: 1.7rem;
    transition: .65s;
    padding-left: 10%;
    padding-right: 8%;
}

.short_content {
 /*   display: none;  */
    opacity: 0;
    font-size: 1rem;
    transition: .65s;
    transform: translateY(90%);
    padding-left: 10%;
    padding-right: 10%;
}

.recommendations {
    background-color: #131313;
    margin: 0;
    padding: 0;
    margin-top: 15vh;
    padding-top: 5vh;
    padding-bottom: 3vh;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.list_articles {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 96vw;
    height: 100%;
    padding:  0;
    margin: 0;
}

.arrow {
    font-size: 1.8rem;
    cursor: pointer;
    color: #ff007d;
    padding: 0 0.7%;
    transition: .3s;
    opacity: 1;
}

#arrow_forward {
    padding: 0 1%;
}

.arrow:hover {
    transform: scale(1.1);
    opacity: 1;
}

.list_articles ul {
    display: grid;
    margin: 0;
    padding: 3%;
    grid-template-columns: repeat(auto-fit, 3);
    gap: 4.5%;
    grid-auto-flow: column;
    width: 100vw;
    overflow-x: scroll;
}

.list_articles ul::-webkit-scrollbar {
    display: none;
}

.list_articles ul li {
    width: 30vw;
    height: 17vw;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    position: relative;
    z-index: 1;
}

.article {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: end;
    justify-content: center;
    margin: 0;
    padding: 0 2%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    border-radius: 20px;
    transition: .3s;
}

.article:hover{
    transform: scale(1.1);
}

.article p {
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(17px);
    padding: 5%;
    margin: 2% 0;
}

.info {
    margin: 0;
    padding: 0 10% 6% 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #131313;
    width: 100vw;
}

.info h2, .info p {
    width: 60vw;
    text-align: center;
}

.info  span {
    color: rgba(255, 255, 255, 0.5);
    background-clip: text;
    background-repeat: no-repeat;
    background-size: 0% 100%;
    background-image: linear-gradient(90deg, white, white);
    animation: info linear forwards;
    animation-timeline: view();
}

@keyframes info {
    to {
        background-size: 100% 100%;
    }
}

.info h2  {
    font-size: 2.5rem;
}


.info p  {
    text-align: center;
    font-size: 1.5rem;
}

.info h2 span {
    animation-range-start: cover 10vh;
    animation-range-end: cover 50vh;
}

.info p span {
    animation-range-start: cover 42.5vh;
    animation-range-end: cover 75vh;
}


.container {
    padding: 0;
    margin: 0;
    min-width: 100vw;
    height: 20vh;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}


.scroll_text {
    min-width: 100vw;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    flex-direction: row;
    gap: 6rem;
    white-space: nowrap;
    animation: scroll_text 50s infinite linear;
}

.scroll_text ul {
    display: flex;
    align-items: center;
    gap: 6rem;
    padding: 0;
    margin: 0;
}

/*.scroll_text ul:first-child{
    background-color: red;
}
.scroll_text ul:last-child{
    background-color: greenyellow;
}*/

.scroll_text p {
    font-size: 6rem;
    color: rgba(0,0,0, 0.15);
    padding: 0;
    letter-spacing: 2px;
    margin: 0;
}

@keyframes scroll_text {
    from {
        transform: translateX(0%);
    }
    to {
     transform: translateX(calc(-100% - 8rem));
    }
}


.credit {
    min-width: 100vw;
    padding: 0;
    padding-bottom: 5%;
    margin: 0;
    min-height: 70vh;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    position: relative;
}

.credit ul {
    padding: 0 2% 1% 2%;
    margin: 0;
    height: auto;
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    column-gap: 1vw;
    row-gap: 3vw;
    /*background-color: greenyellow;*/

}

.credit ul li {
    padding: 0 2% 2% 2%;
    margin: 0;
    height: 28vh;
    width: 48vh;
    justify-self: center;
    display: flex;
    align-items: end;
    justify-content: center;
    /*background-image: url('../img/best_article_1.jpg');*/
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    border-radius: 20px;
    transition: .3s;
}

.credit p {
    margin: 0;
    padding: 3% 7% 5% 7%;
    font-size: 1.1rem;
    text-align: left;
    min-width: 50%;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(17px);
    border-radius: 20px;
    transition: .4s;
    display: flex;
    flex-direction: column-reverse;
    position: relative;
}

.credit_stat_black  {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.credit_stat_black p {
    height: 100%;
    width: 100%;
    display: flex;
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(0px);
}

.black {
    background-color: #131313;
}

.scroll_text_black p {
    color: rgba(255, 255, 255, 0.15);
}

.credit_black p {
    background-color: rgba(0, 0, 0, 0.15);
    color: rgba(255, 255, 255, 0.8);
}

.credit_stat_black p {
    height: 100%;
    width: 100%;
    display: flex;
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: center;
    background-color: transparent;
}

.counters {
    width: 100vw;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.counters div {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.counter {
    height: 100%;
    margin: 0;
    padding: 0;
}

.counter h3 {
    font-weight: 200;
}

.counter span {
    font-weight: 800;
    font-size: 4rem;
    color: transparent;
    background-clip: text;
    background-repeat: no-repeat;
    background-image: linear-gradient(180deg, #ff007d, #ff007d);
    background-size: 100%;
}

.credit_black h3 {
    color: #ff007d;
}

.button_container {
    width: 100vw;
    padding: 1% 0 1.5% 0;
    display: flex;
    align-items: center;
    justify-content: center;
    /*background-color: blueviolet;*/
    height: 10vh;
    margin: 0;
}

.more_button {
    text-decoration: none;
    background-color: #ff007d;
    color: white;
    height: 80%;
    display: flex;
    padding: 2% 2% 2% 4.5%;
    margin: 0;
    align-items: center;
    justify-content: center;
    font-size: 1.3rem;
    border-radius: 40px;
    transition: .3s;

}

.more_button i {
    opacity: 0;
    transition: opacity .2s, .4s;
    transform: rotate(90deg);
}

.more_button:hover i {
    opacity: 1;
    transform: rotate(0deg);
}

.more_button:hover {
    padding-right: 4%;
}

/* for medium devices */
@media screen and (min-width: 576px) {

    .nav_list {
        justify-content: center;
        column-gap: 3rem;
    }

    .nav_icon {
    font-size: 1.5rem;
    }

    .best_article {
        max-width: 50vw;
        max-height: 50vw;
        justify-self: center;
     }

}

@media screen and (max-width: 767px) {

    .nav_menu {
        position: fixed;
        bottom: 0;
        left: 0;
        background-color: var(--container-color);
        box-shadow: 0 -1px 12px hsla(var(--hue), var(--sat), 15%, 0.15);
        width: 100%;
        height: 4rem;
        padding: 0 1rem;
        display: grid;
        align-content: center;
        border-radius: 1.25rem 1.25rem 0 0;
    }

     .nav_list {
        justify-content: space-around;
    }

    .nav_link {
        opacity: 1;
        color: black;
    }

    .active {
        color: #ff007d;
        opacity: 1;
    }

    .nav_name {
        font-weight: 250;
    }

     .nav_logo {
        font-size: 1.7rem;
     }

    .nav_logo p {
        font-size: 1.2rem;
     }

     .short_content {
        display: none;
     }

     .relevant {
        font-size: 3rem;
     }

    .text {
        transform: translateY(0);
        padding-top: 10%;
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 490px) {
      .relevant {
        font-size: 2rem;
     }
}

@media screen and (max-width: 570px) {
        .info h2  {
        font-size: 2.2rem;
    }

    .info p  {
        text-align: center;
        font-size: 1.3rem;
    }
}

/* for small devices */
@media screen and (max-width: 400px) {
    .nav_name {
        display: none;
    }

    .nav_icon {
    font-size: 1.5rem;
    }

     .best_articles {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
     }

    .best_article {
        max-width: 30vw;
        min-height: 30vw;
        justify-self: center;
     }

     .relevant {
        font-size: 1.5rem;
     }

    .text {
        transform: translateY(0);
        padding-top: 10%;
        font-size: 1rem;
        }

    .short_content {
        display: none;
     }

     .nav_logo {
        font-size: 1.5rem;
     }

    .nav_logo p {
        font-size: 1rem;
     }

}



@media screen and (min-width: 767px) {


    .nav_name {
        font-size: var(--normal-font-size);
        display: block;
    }

    .nav_icon {
        font-size: 0;
        display: none;
        color: transparent;  /* fix later */
        text-decoration: none;
    }

    .nav_list:hover .nav_link {
        opacity: .3;
        filter: blur(.4px);
        transition: .2s;
        color:  #131313;
    }

    .nav_list .nav_link:hover {
        opacity: 1;
        filter: blur(0);
        transition: .2s;
    }

    .art_title:hover .short_content {
        opacity: 1;
        height: auto;
        width: auto;
        transform: translateY(35%);
    }

    .art_title:hover .text {
        opacity: 0;
        transform: translateY(-232%);
    }


}


@media screen and (max-width: 865px) {

    .best_articles {
        min-height: 100vh;
        margin-top: 8vh;
        padding-bottom: 150px;
     }

     .best_article {
        max-width: 90vw;
        min-height: 90vw;
        justify-self: center;
    }

    .list_articles ul {
        gap: 5%;
    }

    .list_articles ul li {
        width: 55vw;
        height: 42vw;
    }

}